/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.list-movies {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.list-movies li {
  padding: 15px;
  width: auto;
  height: auto;
  float: left;
}

.btn-outline-dark {
  width: 300px;
  height: 390px;
}

.poster {
  width: 200px;
  height: auto;
}
